
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

:root
{
    /*Special*/
    --main-color: #77a926; /*#ff7800*/
    --sec-dark: #d1d92b;
    --black: #130f40;
    --light-color: #666;
    --red: #C70039;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.2);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
    --yashGrident: linear-gradient(45deg, #77a926, #d1d92b);
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*Special*/
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    font-weight: 500;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body
{
    background: #eee;
}
.active, .yashBtn:hover
{
    background: var(--main-color);
    border-radius: 2rem;
    padding: .8rem 2rem;
    color: #fff !important;

}
section{
    padding: 2rem 9%;
}
.btn
{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    background: none;
}
.btn:hover
{
    background: var(--main-color);
    color: #fff;
    border-color: var(--main-color);
}

/*CSS Header Section*/

.header
{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}
.header .logo
{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}
.header .navbar a
{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
    font-weight: 500;
}
.header .icons div
{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background-color: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    text-align: center;
    cursor: pointer;
}
.header .icons div:hover
{
    background: var(--main-color);
    color: #fff;
}
#menu-btn
{
    display: none; /*for desktop*/
}
.header .search-form
{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center; 
    box-shadow: var(--box-shadow);
}
.header .search-form.active
{
    right: 2rem;
    transition: .4s linear;
}
.header .search-form input
{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}
.header .search-form label
{
    padding: 0 1.5rem;
    font-size: 1.6rem;
    color: var(--black);
}
.header .search-form label:hover
{
    color: var(--main-color);
}
.header .shopping-cart
{
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    background: #fff;
}
.header .shopping-cart.active
{
    right: 2rem;
    transition: .4s linear;
}
.header .shopping-cart .box
{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
    cursor: pointer;
    border-bottom: .1rem solid grey; /*EXTRA*/
}
.header .shopping-cart .box img
{
    height: 10rem;
}
.header .shopping-cart .box .fa-trash
{
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    color: var(--red) !important;
    transform: translateY(-50%);
}
.header .shopping-cart .box .content h3
{
    color: var(--black);
    font-size: 1.6rem;
    padding-bottom: 1rem;
    font-weight: 500;
}
.header .shopping-cart .box .content span
{
    color: var(--light-color);
    font-size: 1.5rem;
}
.header .shopping-cart .box .content .quantity
{
    padding-left: 1rem;
}
.header .shopping-cart .total
{
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}
.header .shopping-cart .btn
{
    display: block;
    text-align: center;
    opacity: .9;
    margin: 1rem;
}
.header .login-form
{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
    text-align: center;
}
.header .login-form.active
{
    right: 2rem;
    transition: .4s linear;
}
.header .login-form h3
{
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 600;
}
.header .login-form .box
{
    width: 100%;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1.6rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}
.header .login-form p
{
    font-size: 1.3rem;
    padding: .5rem 0;
    color: var(--light-color);
}
.header .login-form p a
{
    color: var(--main-color);
    text-decoration: underline;
}

/*CSS  Home Section*/
.home 
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/image/img_banner-dairy.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    margin: 8rem 0;
    height: 92.5vh;
}
.home .content
{
    padding: 2rem 3%;
    position: absolute;
    align-items: center;
    width: 90%;
}
.home .content h3
{
    line-height: 7rem;
    color: var(--black);
    font-size: 6rem;
    font-weight: 500;
}
.home .content h3 span
{
    font-size: 5.3rem;
    color: var(--sec-dark);
    font-weight: 700;
}
.home .content p
{
    width: 40%;
    color: #fff;
    font-size: 1.9rem;
    padding: 1rem 1rem;
    line-height: 2.4rem;
    font-weight: 600;
    background: rgba(209, 0217, 43, 0.8);
}
.home .content a:hover
{
    background: var(--main-color);
}


/*CSS Features Section*/
.heading
{   
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 6rem;
    color: var(--black);
}
.heading span
{
    font-size: 5.3rem;
    color: var(--sec-dark);
    font-weight: 700;
    display: inline-block;
    padding: .5rem 3rem;
    background: var(--main-color);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%); /*section title pattern*/
}
.features .box-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem;
    justify-content: center;
}
.features .box-container .box
{
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}
.features .box-container .box:hover
{
    outline: var(--outline-hover);
    outline-offset: 0rem; 
    box-shadow: 0 0 100px #eee; 
}
.features .box-container .box img
{
    padding: 1rem 0;
    height: 20rem;
}
.features .box-container .box h3
{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}
.features .box-container .box p
{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}

/* CSS Products */

.yashProducts
{
     gap: 5rem;
    /* margin-top: 2rem; */
    display: grid;
}

.products .box-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem;
    justify-content: center;
}
.products .box-container .box
{
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}
.products .box-container .box:hover
{
    outline: var(--outline-hover);
    outline-offset: 0rem; 
    box-shadow: 0 0 100px #eee; 
}
.products .box-container .box img
{
    padding: 1rem 0;
    height: 20rem;
}
.products .box-container .box h3
{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}
.products .box-container .box .price
{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}
.products .box-container .box .stars
{
    color: var(--sec-dark);
}

/* CSS Contact */
.contact .container
{
    position: relative;
    width: 100%;
    background: #fff;
    padding: 3rem 2rem;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    transition: .2s linear;
    display: flex;
    align-items: center;
}
.contact .container:hover
{
    /* outline: var(--outline-hover); */
    outline-offset: 0rem; 
    box-shadow: 0 0 100px #eee; 
}
.contact .container .form
{
    width: 100%;
    height: 40rem;
    /* background: #77a926; */
    transition: .2s linear;
    border-radius: .5rem;
    /* z-index: 1000; */
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contact .container .form:hover
{
    outline-offset: 0rem; 
    box-shadow: 0 0 100px #eee; 
    
}
.contact .container .form .contact-info
{
    background: #fff;
}
.contact .container .form .contact-form
{
    background: linear-gradient(45deg, #77a926, #d1d92b);
    position: relative;
}
.contact-form .circle
{
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #77a926);
    position: absolute;
}  
.contact-form .circle.one
{
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
} 
.contact-form .circle.two
{
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
} 
.contact-form .contact-form:before
{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #77a926;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}
form
{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}
.title
{
    color: #fff;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}
.input-container
{
    position: relative;
    margin: 1rem 0;
}
.input
{
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
} 
.textarea.input
{
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}
.input-container label
{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}
.input-container.textarea label
{
    top: 1rem;
    transform: translateY(0);
}
.yashbtn{
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #77a926;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
}
.yashbtn:hover
{
    background-color: transparent;
    color: #fff;
}
.input-container span
{
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}
.input-container span:before,
.input-container span:after
{
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #77a926;
    top: 50%;
    transform: translateY(-50%);
}
.input-container span:before
{
    left: 50%;
}
.input-container span:after
{
    right: 50%;
}
.input-container.focus label
{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}
.input-container.focus span:before,
.input-container.focus span:after
{
    width: 50%;
    opacity: 1;
}
.contact-info
{
    padding: 2.3rem 2.2rem;
    position: relative;
}
.contact-info .title
{
    color: #77a926;
}
.text
{
    color: #333;
    margin: 1.5rem 0 2rem 0;
    font-size: 1.3rem;
}
.information
{
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 1.2rem;
}
.icon
{
    width: 28px;
    margin-right: 0.7rem;
}
.social-media
{
    padding: 2rem 0 0 0;
}
.social-media p
{
    color: var(--black);
}
.social-icons
{
    display: flex;
    margin-top: 0.5rem;
    justify-content: center;
}
.social-icons a
{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #77a926, #d1d92b);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
}  
.social-icons a:hover
{
    transform: scale(1.05);
} 
.contact-info:before
{
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #77a926;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
}
.square
{
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
} 

/* CSS Reviews Section */
.review .content
{
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: .2s linear;  
}
.review .content:hover
{
    outline: var(--outline-hover);
    outline-offset: 0rem; 
    box-shadow: 0 0 100px #eee; 
}
.review .content .yashCustomers
{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yashCustomers .stars .yStar
{
    color: var(--main-color);
    font-size: 3rem;
}
.yashCustomers .stars .yStar:hover
{
    font-size: 3.5rem;
    color: var(--sec-dark);
}
.yashCustomers .text p b
{
    font-weight: 600;
    font-size: 2rem;
    color: var(--black);
}
.yashCustomers .text p 
{
    font-size: 1.4rem;
    color: var(--light-color);
}
.review .content-two
{
    margin-top: 2rem;
    display: flex;
    gap: 5rem;
    justify-content: center;
}


/*test*/



/*media queries*/

@media (max-width: 1300px) /*991 1130 1230*/
{
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
    
}
@media (max-width: 930px) /*850*/
{
    #menu-btn{
        display: inline-block;
    }
    .header .search-form {
        width: 90% !important;
    }
    .header .navbar{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        background: #fff;
    }
    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
        width: 90%;
    }
    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
        text-align: center;
    }
    .active, .yashBtn:hover  /*yash extra*/
    {   
    background: #fff !important;
    border-radius: 2rem;
    padding: .8rem 2rem;
    color: var(--black) !important;
    }
}
@media (max-width: 450px)
{
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 2.5rem;
    }
    .yashCustomers .stars .yStar
    {
        color: var(--main-color);
        font-size: 2rem;
    }
    .yashCustomers .stars .yStar:hover
    {
        font-size: 2.5rem;
    }
}
@media (max-width: 346px)
{
    .header .logo{
        font-size: 2rem;
    }
    .header .logo .fa-shopping-basket{
        display: none;
    }
    .features .box-container{
        grid-template-columns: none;
        display: grid;
        gap: 5rem;
        justify-content: center;
    }
    .content-two .box-container{
        grid-template-columns: none;
        display: grid;
        gap: 5rem;
        justify-content: center;
    }
}
@media (max-width: 850px) 
{
    .form {
      grid-template-columns: 1fr;
    }
  
    .contact-info:before {
      bottom: initial;
      top: -75px;
      right: 65px;
      transform: scale(0.95);
    }
  
    .contact-form:before {
      top: -13px;
      left: initial;
      right: 70px;
    }
  
    .square {
      transform: translate(140%, 43%);
      height: 350px;
    }
  
    .big-circle {
      bottom: 75%;
      transform: scale(0.9) translate(-40%, 30%);
      right: 50%;
    }
  
    .text {
      margin: 1rem 0 1.5rem 0;
    }
  
    .social-media {
      padding: 1.5rem 0 0 0;
    }
}
@media (max-width: 480px) 
{
    .container {
      padding: 1.5rem;
    }
  
    .contact-info:before {
      display: none;
    }
  
    .square,
    .big-circle {
      display: none;
    }
  
    form,
    .contact-info {
      padding: 1.7rem 1.6rem;
    }
  
    .text,
    .information,
    .social-media p {
      font-size: 0.8rem;
    }
  
    .title {
      font-size: 1.15rem;
    }
  
    .social-icons a {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  
    .icon {
      width: 23px;
    }
  
    .input {
      padding: 0.45rem 1.2rem;
    }
  
    .btn {
      padding: 0.45rem 1.2rem;
    }
}















